.background-color {
    background-image: url('images/bg-stars.jpg');
}

a, span {
  color: lightblue;
  font-family: Helvetica, cursive, sans-serif;
}

/* Navigational Arrows */
#arrows {
    color: gray;
 }
  .arrow-left {
    width: 0px;
    height: 20px;
    margin-top: 330px;
	margin-left: 0px;

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid;  
    transform: rotate(-90deg);
    float: left;
    cursor: pointer;

 }

 .arrow-right {
    width: 0px;
    height: 20px;
    margin-top: 320px;
    /* (before change: margin-top: -40px, add margin-left: 1200px, remove "float: right;") */

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid;  

    transform: rotate(90deg);

    float: right;

    cursor: pointer 
 }


/* spaceship-following-cursor */

.pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,1);
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 50%;
    pointer-events: none;
    box-sizing: border-box;
    transition: 0.2s;
	   z-index: 4;

}

/* CSS for planets */


.jupiter {

    margin-left: 200px;
    margin-bottom: 400px;
}

.jupiter:hover {
    box-shadow: 0px 0px 20px blue, 0px 0px 30px yellow, 0px 0px 40px green;
}

.saturn {
    margin-left: 300px;
    margin-bottom: 600px;
}

.saturn:hover {
    box-shadow: 0px 0px 20px blue, 0px 0px 30px orange, 0px 0px 40px brown;
}

/* Popup name and link */
.jupiter_pop {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.jupiter_pop .jupiter_popup_text {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 75%;
  margin-left: -80px;
}


/*hide and show the popup */
.jupiter_pop .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Popup name and link */
.saturn_pop {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.saturn_pop .saturn_popup_text {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 103%;
  left: 80%;
  margin-left: -80px;
}


/*hide and show the popup */
.saturn_pop .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Homepage button */
.button {
  position: absolute;
  top: 10%;
  right: 10%;
  background-color: #002147; /* oxford blue */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #001090; /* BLUE */
  color: white;
  box-shadow: 0 12px 16px 0 #485dff, 0 17px 50px 0 #a4aeff;
}

a {
  color: lightblue;
}
@media screen and (max-width: 1000px) {

.rotate{transform: rotate(90deg);
}
}