.background-color {
     background-image: url('images/bg-stars.jpg');
}

a, span {
  color: lightblue;
  font-family: Helvetica, cursive, sans-serif;
}

#arrows {
    color: gray;
}
.arrow-up {          

    width: 0px;
    height: 20px;
    margin: auto;

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid;  
}

.arrow-down {      
    width: 0px;
    height: 20px;
    margin-top: 500px;
    margin-left: 600px;
    
   
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid; 
    border-bottom: 20px solid transparent;   
}

.top-button {      
    background-color: black ;
    border-color: transparent;
    width: 50px;
    height: 50px;
    right: 30px;
    position: relative;
}
 
.bottom-button {    
    background-color: black  ;
    border-color: transparent;
    width: 50px;
    height: 50px;
    top: -30px;
    right: 30px;
    position: relative;
}

/* Navigational Arrows */
 
.arrow-left {
    width: 0px;
    height: 20px;
    margin-top: -270px;
    margin-left: 0px;

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid;  

    transform: rotate(-90deg);

 }

 .arrow-right {
    width: 0px;
    height: 20px;
    margin-top: -45px;
    margin-left: 1200px;

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid;  

    transform: rotate(90deg);

    cursor: pointer;    
 }

/* Spaceship-following-cursor */

.pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,1);
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 50%;
    pointer-events: none;
    box-sizing: border-box;
    transition: 0.2s;

    z-index: 4;
}

/* CSS for Planets */

.sun { 
    z-index: 1;
    float: left;
}
.sun:hover {
 box-shadow: 0px 0px 20px yellow, 0px 0px 30px green, 0px 0px 40px red;
}

.mercury {
   margin-left: 80px;
   margin-bottom: 200px;
}

.mercury:hover {
    
    box-shadow: 0px 0px 20px brown, 0px 0px 30px black, 0px 0px 40px yellow;
}

.venus {
    margin-left: 200px;
    margin-bottom: 280px;
}

.venus:hover {
    
    box-shadow: 0px 0px 20px purple, 0px 0px 30px red, 0px 0px 40px yellow;
}

.earth {
    margin-left: 160px;
    margin-bottom: 360px;
}

.earth:hover {
    
    box-shadow: 0px 0px 20px blue, 0px 0px 30px yellow, 0px 0px 40px green;
}

.moon {
    margin-left: -180px;
    margin-bottom: 420px;
}

.moon:hover {
    box-shadow: 0px 0px 20px blue, 0px 0px 30px yellow, 0px 0px 40px green;
}

.mars {
    margin-left: 150px;
    margin-bottom: 430px;
}

.mars:hover {
    
    box-shadow: 0px 0px 20px red, 0px 0px 30px yellow, 0px 0px 40px red;
}

/* Popup name and link */

.mercury_pop {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.mercury_pop .mercury_popup_text {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 70%;
  margin-left: -80px;
}


/*hide and show the popup */
.mercury_pop .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Popup name and link */

.venus_pop {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.venus_pop .venus_popup_text {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 80%;
  margin-left: -80px;
}


/*hide and show the popup */
.venus_pop .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


/* Popup name and link */

.sun_pop {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.sun_pop .sun_popup_text {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -80px;
}


/*hide and show the popup */
.sun_pop .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Popup name and link */

.earth_pop {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.earth_pop .earth_popup_text {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -80px;
}


/*hide and show the popup */
.earth_pop .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Popup name and link */

.mars_pop {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.mars_pop .mars_popup_text {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 75%;
  left: 85%;
  margin-left: -80px;
}


/*hide and show the popup */
.mars_pop .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.moon_pop {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.moon_pop .moon_popup_text {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 60%;
  margin-left: -250px;

}


/*hide and show the popup */
.moon_pop .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Homepage button */
.button {
  position: absolute;
  top: 10%;
  right: 10%;
  background-color: #002147; /* oxford blue */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #001090; /* BLUE */
  color: white;
  box-shadow: 0 12px 16px 0 #485dff, 0 17px 50px 0 #a4aeff;
}

@media screen and (max-width: 1000px) {
.mercury {
   margin-left: 200px;
   margin-bottom: 80px;
}
.venus {
   margin-left: 200px;
   margin-bottom: 280px;
}
.earth {
	margin-left: 360px;
    margin-bottom: 160px;
}
.moon {
  display: none;
}

.mars {
   margin-left: 430px;
   margin-bottom: 150px;
}
	
}