.background-color {
    background-image: url('images/bg-stars.jpg');
}

a, span {
  color: lightblue;
  font-family: Helvetica, cursive, sans-serif;
}


/* Navigational Arrows */
#arrows {
    color: gray;
 }

.arrow-up {


    width: 0px;
    height: 20px;
    margin: auto;

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid;
    visibility: hidden; 
 }

.arrow-down {
    width: 0px;
    height: 20px;
    margin-top: 500px;
    margin-left: 600px;
    
   
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid; 
    border-bottom: 20px solid transparent; 
    visibility: hidden;
   
}


  .arrow-left {
    width: 0px;
    height: 20px;
    margin-top: -270px;
    margin-left: 0px;

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid;  

    transform: rotate(-90deg);

    cursor: pointer;

 }

 .arrow-right {
    width: 0px;
    height: 20px;
    margin-top: -45px;
    margin-left: 1200px;

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid;  

    transform: rotate(90deg);

    cursor: pointer 
 }


/* spaceship-following-cursor */

.pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,1);
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 50%;
    pointer-events: none;
    box-sizing: border-box;
    transition: 0.2s;
	   z-index: 4;

}

/* CSS for planets */

.uranus {
    margin-left: 150px;
    margin-bottom: 400px;
    
}

.uranus:hover {
    box-shadow: 0px 0px 20px blue, 0px 0px 30px yellow, 0px 0px 40px green;
}

.neptune {

    margin-left: 300px;
    margin-bottom: 650px;
}

.neptune:hover {
    box-shadow: 0px 0px 20px blue, 0px 0px 30px red, 0px 0px 40px green;
}

.pluto {
    margin-left: 300px;
    margin-bottom: 600px;
}

.pluto:hover {
     box-shadow: 0px 0px 20px blue, 0px 0px 30px green, 0px 0px 40px purple;   
}

/* Popup name and link */
.uranus_pop {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.uranus_pop .uranus_popup_text {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 70%;
  left: 20%;
  margin-left: -80px;
}


/*hide and show the popup */
.uranus_pop .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Popup name and link */
.neptune_pop {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.neptune_pop .neptune_popup_text {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  bottom: 103%;
  left: 48%;
  margin-left: -80px;
}


/*hide and show the popup */
.neptune_pop .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Popup name and link */
.pluto_pop {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.pluto_pop .pluto_popup_text {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 90%;
  margin-left: -80px;
}


/*hide and show the popup */
.pluto_pop .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Homepage button */
.button {
  position: absolute;
  top: -40%;
  right: -10%;
  background-color: #002147; /* oxford blue */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #001090; /* BLUE */
  color: white;
  box-shadow: 0 12px 16px 0 #485dff, 0 17px 50px 0 #a4aeff;
}

a {
  color: lightblue;
}



